[submodule "base/Bukkit"]
	path = base/Bukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git
[submodule "base/CraftBukkit"]
	path = base/CraftBukkit
	url = https://github.com/OvercastNetwork/CraftBukkit.git
